extends layout

block content
  .title TheQuest
  .menu
    a(href="/users/logout") logout
    .timeLeft.menuItem
    .victories.menuItem
      | Victories: 
      span.victoriesCount 0
  .landingImg
    .support
      p Your browser does not support WebGL or it's disabled.
      p Please enable it or use latest version of 
        a(href="https://www.google.com/chrome", target="_blank") Chrome(recomended)
        test , 
        a(href="http://www.mozilla.org/en-US/firefox/new", target="_blank") Mozilla Firefox 
        test or 
        a(href="http://www.apple.com/safari", target="_blank") Safari 
        browser

    .loadingTxt
  .gameWorld


  
  script.
    user = !{JSON.stringify(user)}
  script(src="/game-index.js")