extends layout

block content
  .container.content-container
    .login-content
      .login-slogon 
        | Meet the new very addictive, _open source_ , realtime MMO game.
        br
        | The goal is simple - steal the treasure. Have fun NOW with your friends or other players all over the world.

      form.login-form
        input.login-input.usename(type="text", name="username", placeholder="username")
        br
        input.login-input.password(type="password", name="password", placeholder="password")
        ul.inline.login-controls
          li
            button.login-button.loginBtn Login
          li.login-or or
          li
            button.login-button.registerBtn Register

        .created-by
          | Created by: 
          a(href='http://varnalab.org/', target="_blank") Varna Lab Hackerspace 
          | &amp; upgraded by 
          a(href='http://camplight.net/', target="_blank")  Camplight

