doctype 5
html
  head
    title The quest - christmas edition
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    script(src='http://code.jquery.com/jquery.min.js')
    script(src='/landing.js')
    
  body(style="overflow: auto;")
    block content